
    <ul class="nav navbar-nav navbar-right">
        @if (Request.IsAuthenticated)
        {
            <li>
                @Html.ActionLink("Logoff", "Logout", "Account")
            </li>
            <li>
                @Html.ActionLink(User.Identity.Name, "", "")
            </li>
        }
        else
        {
            <li>
                @Html.ActionLink("Employee Login", "Index", "Account")
            </li>
        }

    </ul>